.red{color:#f00;}
.orange{color:#f90;}
.blue{color:#00f;}

h1 {    
	display: block;
    font-size: 60px;
    line-height: 84px;

    margin-top: 80px;
    margin-bottom: 20px;
}

h3 {
	display: block;
    font-size: 35px;
    line-height: 48px;

    margin-top: 50px;
    margin-bottom:10px;
}

.slide q {
	font-size: 40px;
    line-height: 64px;

    margin-top: 80px;
}

ul {
	list-style: disc;
	margin-left:35px;
}

p {
	color:#aaa;
    margin-bottom:10px;
}